<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}

	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	var tags = null;
	var array = [];
	var url = 'https://api.lavbic.net/kraji';
	
	pridobiPodatke(url, function (jsonRezultat) {
		tags = jsonRezultat;
		console.log(tags.length);
		
		for (var i = 0; i < tags.length; i++) {
			array[i] = {label: tags[i].kraj, value: tags[i].postnaStevilka};
		}
	});

	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var validEmail = false;
		var autocompleted = false;
		

		document.getElementById("Email").addEventListener("keyup" , function () {
			if  (emailRegex.test(document.getElementById("Email").value)) {
				validEmail = true;
				document.getElementById("EmailValidate").classList.remove('glyphicon-remove');
				document.getElementById("EmailValidate").classList.add('glyphicon-ok');
			} else {
				validEmail = false;
				document.getElementById("EmailValidate").classList.remove('glyphicon-ok');
				document.getElementById("EmailValidate").classList.add('glyphicon-remove');
			}
			
			omogociRegistracijo(validEmail, autocompleted);
		});
		
		document.getElementById("City").addEventListener("keyup", function () {
			if (this.value.length == 0) {
				autocompleted = false;
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
			}
				
			$( '#City' ).autocomplete({
				minLength: 1,
				
				source: array,
								
				select: function( event, ui ) {
					event.preventDefault();
					$("#City").val(ui.item.label);
					document.getElementById("PostalCode").value = ui.item.value;
					document.getElementById("Country").value = "Slovenija";
					autocompleted = true;
					omogociRegistracijo(validEmail, autocompleted);
			    },
			    
			    focus: function(event, ui) {
			        event.preventDefault();
			        $("#City").val(ui.item.label);
			    }

			});
			
			omogociRegistracijo(validEmail, autocompleted);
		});
	});

	function pridobiPodatke(url, callback) {
	  if (typeof(url) != "string") return;
	
	  var xobj = new XMLHttpRequest();
	  xobj.overrideMimeType("application/json");
	  xobj.open("GET", url, true);
	  xobj.onreadystatechange = function () {
	    // rezultat ob uspešno prebrani datoteki
	    if (xobj.readyState == 4 && xobj.status == "200") {
	        var json = JSON.parse(xobj.responseText);
	        // vrnemo rezultat
	        callback(json);
	    }
	  };
	  xobj.send(null);
	}

	
	var omogociRegistracijo = function(p1, p2) {
		if (p1 && p2) {
			document.getElementById("Register").disabled = false;
		} else {
			document.getElementById("Register").disabled = true;
		}
		
	}

	var seznamOznacenih = [];
	document.getElementById("seznamStrank").addEventListener("click", function() {
		var selector = document.getElementById("seznamStrank");
		var index = selector[selector.selectedIndex].value - 1;

		//console.log(seznamStrank[index]);
		//console.log(index);
		
		var split = seznamStrank[index].innerHTML.split(" ");
		var split2 = split[1].split(",");
		var ime = split[0];
		var priimek = split2[0];
		
		console.log(ime + " " + priimek);
		
		if (seznamOznacenih.length != 0) {
			removeColor(seznamOznacenih, seznamRacunov);
			seznamOznacenih.splice(0, seznamOznacenih.length);
		}
		
		var stevec = 0;
		var racuni = document.getElementById("seznamRacunov");
		for (var i = 0; i < seznamRacunov.length; i++) {
			split = seznamRacunov[i].innerHTML.split(" ");
			
			var imeR = split[0];
			var priimekR = split[1];

		    if (ime == imeR && priimek == priimekR) {
		      seznamOznacenih[stevec] = i;
		      stevec++;
		    }
		    
		}
		
		addColor(seznamOznacenih, seznamRacunov);
		console.log(seznamOznacenih);
	});
	
	var removeColor = function(obarvani, seznamRacunov) {
		for (var i = 0; i < obarvani.length; i++) {
			seznamRacunov[obarvani[i]].classList.remove("racun-stranke");
		}
	};
	
	var addColor = function(seznam, seznamRacunov) {
		for (var i = 0; i < seznam.length; i++) {
			seznamRacunov[seznam[i]].classList.add("racun-stranke");
		}
	}
	
</script>
</body>
</html>